@use './colors' as *;
@use './mixins' as *;
@use './fonts';

.bg {
  @include bg;
}

.fullHeight {
  @include center;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: grid;
  grid-template-rows: 160px 1fr;
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
  padding: 0 10px;
  box-sizing: border-box;
  padding-bottom: 10px;

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.right-side {
  width: 100%;
  max-width: 502px;

  @media screen and (max-width: 550px) {
    max-width: 100%;
  }
}

.tabs,
.filter {
  position: sticky;
  top: 0;

  @media screen and (max-width: 550px) {
    position: static;
  }
}
