@use '../../sass/mixins';
@use '../../sass/fonts';
@use '../../sass/colors';
@use '../../sass/transitions';

.tabs {
  @include mixins.ui-box;
  display: flex;
  border-radius: 12px;
  min-height: 50px;

  @include mixins.table {
    flex-direction: column;
  }
}

.tab {
  @include mixins.cursor;
  background-color: colors.$text-light;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 168px;
  border: 1px solid #dfe5ec;
  white-space: nowrap;
  box-sizing: border-box;

  font-family: fonts.$opensans-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: colors.$text-dark;
  padding: 0 2px;
  box-sizing: border-box;
  flex: 0 1 33.33%;
  min-height: 50px;
}

.tab:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tab--active {
  background-color: colors.$main;
  color: colors.$text-light;

  transition-property: background-color color;
  transition-duration: transitions.$transition-short;
}

.tab:first-child,
.tab:last-child {
  border-radius: 0;
}
