@use '../../sass/colors';
@use '../../sass/fonts';
@use '../../sass/mixins';

@mixin three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.ticket {
  @include mixins.ui-box;
  padding: 20px;
  box-sizing: border-box;
  background-color: colors.$text-light;
  width: 100%;
}

.ticket__header {
  @include three-cols;
  min-height: 45px;
  align-items: center;
}

.ticket__price {
  font-family: fonts.$opensans-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: colors.$main;
  white-space: nowrap;
}

.ticket__logo {
  display: block;
  grid-column: 3/-1;
}

.ticket__infoRow {
  @include three-cols;
}

.ticket__infoRow:not(:first-child) {
  margin-top: 20px;
}

.ticket__infoPair {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title,
  .body {
    font-family: fonts.$opensans-regular;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;

    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .title {
    color: colors.$text-ghost;
  }

  .body {
    color: colors.$text-dark;
  }
}
