@use '../../sass/colors';
@use '../../sass/fonts';
@use '../../sass/transitions';

.showMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 50px;

  border-radius: 5px;
  outline: none;
  border: none;
  background-color: colors.$main;

  font-family: fonts.$opensans-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: colors.$text-light;

  transition: background-color transitions.$transition-short;

  &:hover {
    background-color: darken(colors.$main, 10%);
  }

  &:active {
    background-color: darken(colors.$main, 20%);
  }
}
