@use '../../sass/mixins';
@use '../../sass/fonts';
@use '../../sass/colors';
@use '../../sass/transitions';

$checkbox-size: 20px;

.filter {
  @include mixins.ui-box;
  background-color: colors.$text-light;
  padding: 10px 0;
  min-width: 232px;
  min-height: 252px;
  align-self: flex-start;

  @media screen and (max-width: 550px) {
    min-width: 100%;
  }
}

.filter__title {
  font-family: fonts.$opensans-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  padding-left: 20px;
}

.filterItem__name {
  font-family: fonts.$opensans-semibold;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  user-select: none;
}

.visibleCheckbox {
  width: $checkbox-size;
  min-width: $checkbox-size;
  height: $checkbox-size;
  background-image: url(../../assets/img/Checkbox.svg);
  background-position: center;
  background-size: cover;
}

input[type='checkbox'] {
  appearance: none;
  position: absolute;
}

input[type='checkbox']:focus + .visibleCheckbox {
  outline: 1px solid colors.$main;
}

input[type='checkbox']:checked + .visibleCheckbox {
  background-image: url(../../assets/img/Checkbox_checked.svg);
}

.filterItem {
  @include mixins.cursor;

  display: flex;
  column-gap: 10px;
  padding: 10px 20px;
}

.filterItem__inner {
  transition: background-color transitions.$transition-short;

  &:hover {
    background-color: #f1fcff;
  }
}

.filter__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  flex-wrap: wrap;
}
